:root {
    --height-header-desktop: 7.1875rem;
    --height-header-tablet: 6rem;
    --height-header-phone: 5rem;
}

.ui.menu.header-menu {
    background-color: var(--menu-color);
    border: none;
    border-radius: 0;
    height: var(--height-header-desktop);
}

.ui.menu.header-menu h1 {
    color: #ffffff;
    font-size: 3rem;
}

.logo__container {
    width: var(--height-header-desktop);
}

.ui.menu.header-menu a {
    display: block;
    height: 100%;
    width: calc(var(--height-header-desktop) - 10%);
}

.ui.menu.header-menu .logo__image {
    height: 100%;
}

/* Tablets */
@media screen and (max-width: 770px) {
    .ui.menu.header-menu {
        height: var(--height-header-tablet);
    }

    .ui.menu.header-menu h1 {
        color: #ffffff;
        font-size: 2.5rem;
    }

    .logo__container {
        width: var(--height-header-tablet);
    }

    .ui.menu.header-menu a {
        width: calc(var(--height-header-tablet) - 10%);
    }
}

/* Phones */
@media screen and (max-width: 450px) {
    .ui.menu.header-menu {
        height: var(--height-header-phone);
    }

    .ui.menu.header-menu h1 {
        color: #ffffff;
        font-size: 2rem;
    }

    .logo__container {
        width: var(--height-header-phone);
    }

    .ui.menu.header-menu a {
        width: calc(var(--height-header-phone) - 10%);
    }
}
